.fullpage{
  min-height:auto;
}

.about {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(36, 36, 36);
  color: white;
  padding-top:4rem ;
  padding-left: 15%;
  
}

.content{
  padding-top:1rem ;
  color:rgb(168, 168, 168);;
  margin-right: 20rem;
  font-size:18px;
  

}

