.about {
  padding: 20px;
  height: 90vh;
  display: flex;
  background-color: rgb(36, 36, 36);
  color: white;
  padding-top:4rem ;
  padding-left: 15%;
  
}

.content{
  padding-top:10rem ;
  
  padding-left: 15%;
  

}
