.bottom-part {
  color: grey;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
  text-align: center;
  position: fixed; /* Changed from absolute to fixed */
  width: 100%; /* Ensures the footer spans the full width */
   /* Optional: Add background color */
  padding: 10px 0; /* Optional: Add padding for better appearance */
  /* Optional: Add shadow for depth */
}
.bottom-text {
  color: grey;
}
.footer {
  margin: 3px 0;
}
