#intro {
  background-color: rgb(36, 36, 36);
  color: rgba(255, 255, 255, 0.885);
  width: 100%;
  min-height: calc(100vh - 5rem);
  display: center;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 100px;
}

.myname {
  height: 70vh;
  width: 100vw;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.head {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  color: rgb(168, 168, 168);
  font-family: sans-serif;
  flex-direction: column;
  justify-content: center;
  display: flex;
}
.icons{
  flex-direction: row;
  justify-content:right;
  display: inline;
  align-content: center;

}


@media screen and (max-width: 450px) {
  .myname {
    display: none;
    justify-content: flex;
  }
  .Priyanshiverma{
    font-size: 3vw;
  }
  .quote{
    font-size: 1vw;


  }
}


