.navbar {
  width: 100vw;
  height: 5rem;
  background-color: rgb(31, 31, 31);
  display: flex;
  flex-direction: row;
  color: white;
}

.navbar .lefttext {
  display: flex;
  align-items: center;
  padding-left: 12rem;
}

.box h4::after {
  content: """";
  width: 0.6rem;
  height: 1rem;
  background: #ed5948;
  display: inline-block;
  margin:-0.1rem 0rem;
  animation: cursor-blink 0.9s  infinite;
}

.box h4{
  display: center;
  align-items: flex;
  gap: 0.2rem;
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.navbar .rightSide {
  display: flex;
  align-items: center;
  margin: 0 12rem;
  justify-content: center;
}

.rightSideitem {
  cursor: pointer;
  list-style: none;
  margin: 0 1.5rem;
  text-decoration: none;
  color: white;
}

.rightSideitem:hover {
  text-decoration: underline;
}
.navbar #open {
  padding-left: 0px;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}

@media only screen and (max-width: 840px) {
  
  .navbar .leftSide {
    padding-left: 3rem;
  }
}

@media only screen and (max-width: 400px) {
  .navbar .rightSideitem{
    display: none;
    justify-content: flex;
  }

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 3rem;
  }
}

