.navbar {
  width: 100vw;
  height: 5rem;
  background-color: rgb(30, 30, 30);
  display: flex;
  
}

.navbar .lefttext {
  display: flex;
  align-items: center;
  padding-left: 12rem;
  color: white;
}

.liberation-mono-text {
  font-family: 'Liberation Mono', monospace;
}


.box h4::after {
  content: """";
  width: 0.6rem;
  height: 1rem;
  background: #ed5948;
  display: inline-block;
  margin:-0.1rem 0rem;
  animation: cursor-blink 0.9s  infinite;
}

.box h4{
  display: center;
  align-items: flex;
  gap: 0.2rem;
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.navbar .rightSide {
  display: flex;
  align-items: center;
  margin: 0 28rem;
  justify-content: center;
  color: white;
  
}

.link{
  color: white;
}








